/* hero */

/* Main */
.hero {
  padding-top: 2rem;
  position: relative;
}

.hero-texts__heading {
  max-width: 12ch;
}

.hero-texts__desc {
  margin-top: 1.5rem;
  line-height: 1.5rem;
  max-width: 45ch;
}

.bmi-form {
  border: 3px solid red;
}

.hero-container {
  display: grid;
}

/* backgorund styling */
.hero-bg {
  top: 0;
  position: absolute;
  background: linear-gradient(306.97deg, #D6E6FE 0%, rgba(214, 250, 254, 0.07) 92.71%, rgba(214, 252, 254, 0) 100%);
  width: 100dvw;
  height: 40rem;
  z-index: -1;
  border-radius: 0 0 2.1875rem 2.1875rem;
}

@media(max-width: 50em) {
  /* Mobile */
  .hero-texts__desc {
    margin-inline: auto;
  }

  .hero-texts__heading {
    line-height: 3.3rem;
    margin-inline: auto;
    margin-top: 1.25rem;
  }

  .hero {
    text-align: center;
  }

  .hero-container {
    gap: 3rem;
  }
}

@media(max-width: 64em) and (width > 50em) {
  /* Tablet */
  .hero-texts__desc {
    margin-inline: auto;
  }

  .hero-texts__heading {
    margin-top: 2.25rem;
    margin-inline: auto;
    line-height: 3.3rem;
  }

  .hero {
    text-align: center;
  }

  .hero-container {
    gap: 2.5rem ;
  }
}

@media(width > 64em) {
  /* Desktop */
  .hero {
    padding-top: 4.75rem;
  }
  
  .hero-texts__heading {
    line-height: 4.4rem;
  }

  .hero-texts__desc {
    margin-top: 2.25rem;
  }

  .hero-texts__heading {
    margin-top: 8rem;
  }

  .hero-container {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .hero-bg {
    width: 67.9dvw;
    left: 1.5rem;
    height: 46.0625rem;
  }
}